<ul class="list">
    <li *ngFor="let product of products">
        <div class="card flex-row mb-2">
            <img class="card-img-left example-card-img-responsive image p-1" [src]="product.image" alt="" />
            <div class="card-body">
                <p class="card-text">{{product.id}}</p>
                <p class="card-text">{{product.title}}</p>
                <p class="card-text">{{product.price}}</p>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">{{product.category}}</p>
                <p>{{product.rating.rate}} {{product.rating.count}}</p>
            </div>
        </div>
    </li>
</ul>
